# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment / secrets
.env
*.env
!.env.example

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Flutter (lo usaremos más adelante)
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins*
